/*
.terminal .virtual-flow {
    -fx-gravity: rear;
}
*/
.scroll-bar {
    -fx-background-color: #111111;
}

.scroll-bar .thumb {
    -fx-background-color: #222222;  
    -fx-background-radius: 5px;     
    -fx-pref-width: 8px;           
    -fx-pref-height: 8px;
}
.scroll-bar .thumb:hover {
    -fx-background-color: #333333;
}
.scroll-bar .track {
    -fx-background-color: #111111;  
    -fx-background-radius: 5px;    
}

.scroll-bar .increment-button, .scroll-bar .decrement-button {
    -fx-background-color: transparent;  
    -fx-opacity: 0;
}

.margin-and-text-line {
    -fx-background-color: #222222;
}
.terminal-split {
    -fx-background-color: #222222 ;
    -fx-orientation: vertical;
}
.terminal-output {
    -fx-fill: #333333; /*modified*/
    -fx-background-color: #222222 ;
}
.terminal-input {
    -fx-fill: rgb(114, 163, 219); /*modified*/
    -fx-background-color: #222222;
}
.terminal-method-record {
    -fx-fill: rgb(160, 99, 99); /*modified*/
}
.terminal-error {
    -fx-fill: rgb(255, 122, 122); /*modified*/
}
.terminal-stack-link {
    -fx-fill: rgb(255, 179, 179); /*modified*/
    -rtfx-underline-color: rgb(255, 122, 122); /*modified*/
    -rtfx-underline-width: 2;
    -fx-cursor: hand;
}
.terminal-stack-foreign {
    -fx-fill: hsb(0, 0%, 30%); /*modified*/
}

/* Show prompt text even when we are focused: */
.terminal-input-field {
    -fx-prompt-text-fill: hsb(0, 0%, 30%); /*modified*/
}

/* Slightly darker than white to make input field stand out: */
.terminal, .terminal-error {
    -fx-background-color: rgb(51,51,51); /*modified*/
}

.button {
    -fx-background-color: #222222;
    -fx-text-fill: #666666;
}

.menu-bar {
    -fx-background-color: #111111;
    -fx-font-size: 15;
    -fx-font-family: System;
}

.menu-button:hover {
    -fx-background-color: #444444;
}

.line-container {
    -fx-background-color: #222222;
}

.context-menu {
    -fx-background-color: #111111; /* Background color of the context menu */
    -fx-border-color: #444; /* Border color of the menu */
    -fx-border-width: 1px; /* Border width */
    -fx-border-radius: 5px;
}

/* Style for the context menu items */
.context-menu .menu-item {
    -fx-background-color: #111111; /* Background color for menu items */
    -fx-border-radius: 5px;
}

.context-menu .menu-item:hover {
    -fx-background-color: #444; /* Background color on hover */
    -fx-border-radius: 5px;
}

